/* Base styles */
html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fefae0;
}

* {
  box-sizing: border-box;
}

/* Text styling */
h1 {
  text-align: center;
  color: #219ebc; 
  margin-bottom: 20px;
}

a, .card-link {
  color: #D50A0A;
  text-decoration: none;
}

.card-link {
  text-decoration: underline;
}

/* Container styles */
.layout-container, .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #fefae0;
}

.home-container {
  padding: 20px;
  background-color: #d4a373;
  border-radius: 25px;
}

.main-content, .card-body {
  padding: 20px;
}

/* Link styles */
.main-link, .list-group-link {
  font-weight: bold;
  color: black;
}

.list-group-link:hover {
  color: #007bff;
}

/* List styles */
.list-group {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #ececec;
  transition: background-color 0.3s;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

/* Card styles */
.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header, .card-footer {
  padding: 10px 20px;
  font-size: 1.25rem;
  background-color: #023047;
}

.card-footer {
  font-size: 0.875rem;
}

.back-to-home {
  margin: 20px;
  background-color: #023047;
}
